@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  background-color: #4ade80;
  font-weight: 400;
  padding: 8px 14px;
  border-radius: 8px;
}

@layer utilities {
    .perspective-1000 {
      perspective: 1000px;
    }
  .preserve-3d {
    transform-style: preserve-3d;
  }
}

.card:hover .card-inner{
    transform: rotateY(-180deg);
}

.front-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-back{
    background: linear-gradient(to bottom right, #4ade80, #416cff);
    color: #fff;
    transform: rotateY(180deg);

}

.role{
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(19) infinite, blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 105%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}